@font-face 
  font-family: "UniSans"
  src: url("./fonts/UniSansThin.otf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face 
  font-family: "Casper"; 
  src: url("./fonts/Casper/CasperRegular/CasperRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  
    
@font-face 
  font-family: "Fowviel"; 
  src: url("./fonts/Fowviel.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 

@font-face 
  font-family: "Roboto"; 
  src: url("./fonts/Roboto.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 


%block
  padding: 0.6em 1em
  appearance: none
  outline: none
  line-height: normal
  border: 1px solid transparent
  border-radius: 0
  width: 126.16px
  height: 44px

$text: black

@mixin input_for_app ($margin-left, $width) 
  position: relative
  margin-left: $margin-left
  border: 0px solid #ffffff
  border-radius: 2px
  padding-left: 5px
  padding-bottom: 5px
  font-size: 16px
  width: $width
  outline: 0 


html
  height: 100%


body
  background: url('https://miro.medium.com/max/700/1*s-7irvZndWCQCQ8-VeKQNw.jpeg')
  padding: 0
  margin: 0
  height: 100%
  
 

#root
  padding: 0
  margin: 0

.App
  width: calc( 100%)
  background-position: left
  background-image: url('/img/Mars.jpg')
  padding: 0
  margin: 0

  

  .buttons
    width: 100%
    height: 50px
    background: #333333
    font-family: "UniSans"
    color: white
    font-size: 20px

    .newToDo
      border-radius: 7px
      padding: 3px
      float: right
      margin-right: 25%
      margin-top: 7px
      

    .newToDo:hover
      background: #797979
      padding: 3px
      
      

    .logo
      width: 40px
      height: 40px
      margin-top: 5px
    

    .margin_buttons_menu
      display: inline-block;
      background: #2c2b2b
      width: 25%
      

    input
      @include input_for_app (5px, 150px) 


    img
      width: 30px
      height: 30px
      cursor: pointer
      margin-left: 5px
      vertical-align: -40%
      

    #sort_span
      margin-right: 15px
      position: relative
      div
        position: absolute
        background: #F7BA94
        display: none
        justify-content: center
        bottom: -80px
        left: 40px
        padding: 0
        margin: 0
        color: #ffffff
        z-index: 5
        border: 1px solid #2c2b2b
        border-radius: 2px
        transition: all 1s

        ul
          list-style-type: none
          padding: 0
          margin: 0
          width: 150px
          border-radius: 2px
          transition: all 1s

          li
            border-radius: 2px
            padding-left: 5px
            cursor: pointer

      span
        color: white
        

      
  
  .mainWindow
    display: flex
    flex-wrap: wrap
    height: calc( 100% - 50px )
    width: 100%
    font-family: "Roboto"
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    background-position: center
    background-size: cover

    .left_menu
      width: calc( 100% - 50% - 25% - 1px )
      background: #FAFAFA
      height: 100%
      color: #333333

      .left_menu__right_side
        float: right
        font-size: 16px
        line-height: 35px
        position: relative

        .button_filters:hover
          background: #f5f5f5
          position: relative
        .button_filters
            cursor: pointer
            margin: 0 
            font-size: 18px
            color: #272727
            font-weight: bold
            padding-left: 10px
            padding-right: 35px
            z-index: 15
            background: #FAFAFA
            #shevron_right
              width: 12.5px
              height: 12.5px
              margin-right: 5px
              transition: transform .2s linear;
            #shevron_right.hidden
              position: relative
              transform: rotate(90deg)
              transition: transform .2s linear;

        .top_filters
          list-style: none
          position: relative
          padding-bottom: 20px
          padding-top: 20px
          z-index: 6
          background: #FAFAFA
          margin: 0 

          
          li
            padding-right: 35px
            padding-left: 10px

          li:hover
            background: #ffffff
            font-weight: bold
        .filters
          position: relative
          z-index: 1
          margin: 0 
          overflow: hidden
          

          #list_filter
            padding-right: 0
            transform: translateY(-130%);
            position: relative
            z-index: 4
            transition: transform .2s linear;
            font-size: 16px

            .list_filter__item
              cursor: pointer
              img
                vertical-align: -5%
                margin-right: 2%
              span
                vertical-align: 10%
              span:nth-child(5)
                margin-left: 1%
              span:last-child
                margin-left: 1%

            .list_filter__item:hover
              background: #ffffff
              
                  
              
                

          #list_filter.hidden
                transform: translateY(0%);

        ul
          list-style: none
          padding: 0


    .ul
      padding: 0
      margin: 0
      width: 50%
      height: 100%
      overflow-y: auto
      background: #FFFFFF
      order: 1

      .titleDiv
        padding: 0 
        margin: 0
        height: 100%
        transition: .2s ease-in-out



        .todo
          position: relative
          display: inline-block
          font-weight: bold
          font-size: 16px
          font-weight: 700
          color: #535353
          text-decoration: none
          outline: none
          margin: 0
          transition: .2s ease-in-out
          -webkit-user-select: none
          width: calc( 100% - 20px )
          padding-top: 20px
          padding-bottom: 20px
          padding-left: 0.2% 
        
        
         
          
          #input_Do
            position: absolute
            background-color: transparent
            box-sizing: border-box
            outline: 0 !important
            font-size: 18px
            border: 0px solid #ffffff
            color: #535353
            z-index: 1
            width: 90%

          .marker
            width: 35px
            height: 20px
            vertical-align: -15%
            transition: .1s ease-in-out
            margin-right: 1%
            fill: #db1212

          .marker.hidden
            position: relative
            transform: rotate(180deg)
            transition: transform .1s linear;
            z-index: 2
          

      .li
        color: #535353
        list-style-type: none
        margin: 0
        width: 100%

      #visibleToDo
        width: 100%
        display: none
       
        flex-wrap: wrap
        flex-direction: row
        // border-bottom: 1px solid #201f1f

        img
          margin-right: 3px
          margin-top: 5px
          width: 50px
          height: 50px

        img[title]:hover:after 
          content: attr(title)
          color: #130e0e
          background: #F7BA94

        .left_side
          order: 1
          width: calc( 100% - 225px )
          font-size: 14px
          margin-left: 5px

          #subtask_item
            background: $text
            padding: 5px
            min-width: 100px
            margin-left: 10px
            max-width: 300px
            border: 1px solid #201f1f27
            position: relative
            
        .right_side
          order: 2
          width: 220px
          position: relative
          height: 60px
          

          span
            position: relative
            width: 50px
            height: 50px

          img
            margin-right: 3px
            margin-top: 5px
            width: 50px
            height: 50px

          img[title]:hover:after 
            content: attr(title)
            color: #130e0e
            background: #F7BA94
            
          #defer_task
            position: relative
            width: 50px
            height: 50px

            #task_menu
              position: absolute
              background: #F7BA94
              border: 1px solid #2c2b2b
              border-radius: 2px
              width: 120px
              bottom: -55px
              left: 45px
              display: none
              z-index: 100

              button
                width: 100%
                margin-top: 5px
                background: #4644446b
                border: 1px solid #2c2b2b
                outline: 0
                transition: all 1s
                color: #ffffff

              button:active


              input
                @include input_for_app (4px, 20px) 


          #priority_span
            position: relative
            width: 50px
            height: 50px

            #priority_menu
              position: absolute
              background: #F7BA94
              display: none
              justify-content: center
              bottom: -105px
              left: 35px
              padding: 0
              margin: 0
              color: #ffffff
              z-index: 5
              border: 1px solid #2c2b2b
              border-radius: 2px
              transition: all 1s

              ul
                list-style-type: none
                padding: 0
                margin: 0
                width: 150px
                border-radius: 2px
                transition: all 1s

                li
                  border-radius: 2px
                  padding-left: 5px
                  cursor: pointer
                
                li:hover
                  color: #000000
                  background: #ffffff

    .options
      width: calc(100% - 50% - 25%)
      order: 2
      color: #333333
      background: #FAFAFA
      height: 100%
      border-left: 1px solid #333333

      .name_todo
        width: calc(100% - 10px)
        word-wrap: break-word
        margin-left: 10px
        font-size: xx-large
        margin-bottom: 10px
        overflow-x:hidden
      
      .options_div
        width: 100%
        overflow-y: auto
        height: calc( 100% - 46px)

        .block_term
          font-size: large
          line-height: 25px
          margin-bottom: 25px
          width: 100%
          height: calc( 100% - 46px  )
          display: flex
          flex-direction: column;
          -webkit-flex-direction: column;
          white-space: normal

          #type_ToDo
            padding-bottom: 25px
            padding-left: 10px
            display: flex
            width: calc( 100% - 25px )
            height: 25px

            span
              width: auto

            .container 
              padding: 0
              margin: 0
              outline: 0;
              font-family: sans-serif
              margin-left: 5px

              .dropdown 
                outline: 0;
                width: auto;
                min-width: 50px
                padding-left: 5px
                padding-right: 5px
                display: inline-block;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 2px rgb(204, 204, 204);
                transition: all .5s ease;
                position: relative;
                font-size: 12px;
                color: #333333;
                height: 100%;
                text-align: center

                .select 
                    cursor: pointer;
                    display: block;
                    height: 22px

                .select > i 
                    font-size: 12px;
                    color: #333333;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    float: right;
                  

                .dropdown:hover 
                    box-shadow: 0 0 4px rgb(204, 204, 204)

                .dropdown:active 
                    background-color: #f8f8f8

                .dropdown.active:hover,
                .dropdown.active 
                    box-shadow: 0 0 4px rgb(204, 204, 204);
                    border-radius: 5px 5px 0 0;
                    background-color: #f8f8f8

                .dropdown.active .select > i 
                    transform: rotate(-90deg)

                .dropdown-menu 
                    position: absolute;
                    background-color: #fff;
                    width: 100% ;
                    left: 0;
                    margin-top: 1px;
                    box-shadow: 0 1px 2px rgb(204, 204, 204);
                    border-radius: 0 1px 5px 5px;
                    overflow: hidden;
                    display: none;
                    max-height: 144px;
                    overflow-y: auto;
                    z-index: 9

              
    

                    li 
                        transition: all .2s ease-in-out;
                        cursor: pointer

                        li:hover 
                          background-color: #f2f2f2

                        li:active 
                            background-color: #e2e2e2

                .dropdown-menu 
                    padding: 0;
                    list-style: none

                

          .block_notes
            position: relative
            z-index: 1
            width: 100%
            display: flex
            flex-direction: column
            height: auto

            .block_note__name
              font-family: 'Unisans'
              font-weight: bold
              font-size: 18px
              margin-left: 10px

            .contact-form__input-wrapper 
              margin-bottom: 0px;
              align-items: center;
              display: inline-block;
              position: relative;
              width: 100%

              #text_area
                width: 90%;
                height: 30px;
                overflow: hidden;
                padding: 5px;
                color: #333333;
                resize: none;
                transition: all 1s;

              .contact-form__text 
                padding: 15px;
                resize: vertical;
                font: 16px 'PT Sans',sans-serif
                
              .contact-form__input 
                width: 92%;
                margin-left: 10px
                height: 30px;
                padding: 0 15px;
                box-sizing: border-box;
                border: 1px solid #e2e2e2;
                background: #ffffff;
                border-radius: 2px;
                font: 16px 'PT Sans',sans-serif;
                -webkit-appearance: none;
                resize: vertical
                outline: 0
                overflow: hidden
                resize: none

                
              #text_area_div
                width: 90%;
                white-space: pre-wrap;
                word-wrap: break-word;
                visibility: hidden;
                position: absolute;
                left: -9999px;

            .button
              @extend %block
              margin-left: calc( 99% - 126.16px)
              font: 12px
              line-height: normal
              cursor: pointer
              background-color: $text
              color: white
              text-transform: uppercase
              text-align: center
              letter-spacing: #{(2/14)}em
              

              &:hover, &:focus, &:active
                color: white
                background: black
              

              &:active
                position: relative
                top: 1px
                left: 1px    
                
            #div_note
              max-width: 100%
              height: auto
              max-height: 100%
              word-wrap: break-word

              .ul_note_item
                list-style-type: none
                white-space: normal
                
                
                #note_item
                  background: $text
                  padding: 5px
                  min-width: 100px
                  margin-left: 20%
                  max-width: 80%
                  margin-top: 5px
                  border: 1px solid #201f1f27
                  position: relative
                  min-height: 50px
                  max-height: 100%

                  div
                    margin-bottom: 15px
                  
                  span
                    position: absolute
                    font-size: 10px
                    left: 5px
                    bottom: 0
                    margin-top: 10px
                  
                  img
                    position: absolute
                    top: 5px
                    right: 5px
                    width: 20px
                    height: 20px

          .subtasks_div
            width: 100%
            position: relative
            z-index: 1
            -webkit-flex-direction: column; /* Safari */
            flex-direction: column;
            li
              list-style-type: none

            .name_subtasks
              position: relative
              margin-left: 10px
              font-size: x-large
              margin-bottom: 10px
              display: -webkit-inline-flex; /* Safari */
              display: inline-flex;

            #input_subtasks
              position: relative
              margin-left: 10px
              border: 0px solid #ffffff
              border-radius: 2px
              padding-left: 5px
              padding-bottom: 5px
              font-size: 16px
              width: 94%
              outline: 0

            #menu_down
              width: calc( 94% + 5px  )
              left: 10px
              top: 59px
              position: absolute
              font-size: 16px;
              color: #ffffff;
              z-index: 1
              height: 150px
              padding-bottom: 5px
              margin-bottom: 5px
              overflow: hidden
              transition: transform .5s linear;
              

              #down_div
                background: #2c2b2b00
                font-size: 16px
                padding-left: 5px
                color: #000000
                display: block
                transform: translateY(-30%);
                transition: transform .5s linear;
                overflow: hidden
                z-index: 2
                border: 0px solid #ffffff
                border-radius: 2px
                width: calc( 100% - 5px )
                height: 80px
                display: flex;
                flex-direction: row-reverse
                flex-wrap: wrap;

                #col_left
                  width: 100%

                .button
                  @extend %block
                  margin-left: 55%
                  font: 12px
                  line-height: normal
                  cursor: pointer
                  background-color: $text
                  color: white
                  text-transform: uppercase
                  text-align: center
                  letter-spacing: #{(2/14)}em
              
                
                
              #down_div.hidden
                position: relative
                transform: translateY(-100%);
                transition: transform .5s linear;
                z-index: 2
                
                

                
            div
              .ul_subtask_item
                padding: 0
                margin: 0
                width: 100%
                -webkit-flex-direction: column; /* Safari */
                flex-direction: column;
                margin-top: 10px

                #subtask_item
                  background: $text
                  padding: 5px
                  min-width: 100px
                  margin-left: 10px
                  max-width: 300px
                  border: 1px solid #201f1f27
                  position: relative
                            


                
  
// #object
//   width: 10px
//   height: 10px
//   fill: #3cff00

.subtasks
  border-bottom: 1px solid #ffffff59
  

#add_subtasks
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120)
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2)
  padding: 5px
  cursor: pointer
  font-size: 14px
  height: 30px
  line-height: 15px
  color: #ffffff
  margin-right: 10px
  
#add_subtasks:active
  background: linear-gradient(rgb(96, 97, 104), rgb(64, 64, 68)) rgb(98, 100, 107)
  




 




 

  







  





